/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
.idea/
/config/*.yml
/test
/public/api_chekoubei_doc/
/public/Attachments/*
public/system/*
*~
*.gem
public/vc/*
